---
---
@import "whiteglass";

$black: #1F2421;
$white: #FDFFFF;
$gray: #B4B8C5;
$blue: #577399;
$darkblue: #495867;

header.site-header {
    background-color: $black;
    padding-top: 3em;
}

.site-title, .site-title:visited {
    color: $white;
}

.site-nav .page-link {
    color: $gray;
}

.site-nav .page-link:hover {
    color: $white;
}

ol {
    list-style-type: none;
    counter-reset: li-counter;
}

ol > li:before {
    font-size: 1.2em;
    margin-right: 0.5em;
    line-height: 1em;
    vertical-align: center;
    font-style: italic;
    content: counter(li-counter) ".";
    counter-increment: li-counter;
}

div.post-content p:first-of-type:first-letter {
    font-size: 2em;
    line-height: 1em;
}

div.post-content {
  line-height: 1.7em;
  font-size: 1.2em;
}

div.post-content code.highlighter-rouge {
  font-size: 1em;
}

div.post-content ol {
  line-height: 2em;
  margin-left: 2em;
}

div.post-content h2 {
  margin-top: 3em;
  font-size: 1.5em;
}

div.post-content h3 {
    margin-top: 2em;
}

div.post-content img {
    margin: 20px;
    padding: 5px;
    border-width: 10px;
    border-color: rgba(0,0,0,0.1);
    border-style: solid;
    border-radius: 5px;
}

.centered {
    text-align: center;
    margin: auto;
}

footer {
    padding-top: 3em;
    padding-bottom: 5em;
}
